<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>InstaFlask Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to InstaFlask</h1>
    </header>
    <div class="container">
        <p>Hello to InstaFlask! Here you can either post a post or see other posts by other users.</p>
        <a href="/review" class="button">Post a post</a>
        <a href="/movies" class="button">See other posts</a>
    </div>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">

</body>
</html>
